@import url('./animations.css');

main > section {
    min-height: calc(100vh - 50px);
}

main > .offer {
    background-color: #12132a;
    place-items: center;
    display: grid;
}

main > .about {
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
}

main > .about > h2 {
    text-align: center;
}

.founders_list > li {
    flex: 1 0 320px;
    text-align: center;
}

main > .accueil {
    display: grid;
    background-size: cover;
    background-image: url(../assets/background_home.jpg);
    background-attachment: fixed;
    grid-template-columns: 50px repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: ". a a a"
                        "b b b .";
}

main > .accueil > .gradient1 {
    grid-area: a;
    top: 16px;
    text-align: right;
    animation: enterFromRight 1s cubic-bezier(0,.58,.13,1.38), fadeIn 1.5s ease;
}

main > .accueil > .gradient2 {
    grid-area: b;
    animation: enterFromLeft 1s cubic-bezier(0,.58,.13,1.38), fadeIn 2s ease;
}

main > .accueil > .responsive {
    position: relative;
    padding: 16px;
    max-width: 600px;
}

@media (min-width: 546px) {
    main > .accueil > .gradient1 {
        left: -10px;
    }
}

@media (min-width: 546px) {
    main > .accueil > .responsive {
        border: 1px solid black;
        background: rgba(255,255,255,0.5);
        display: grid;
        place-items: center;
    }
}


@media (min-width: 546px) {
    main > .accueil > .gradient1 {
        left: -10px;
    }
    
}

@media (min-width: 546px) {
    main > .accueil > .gradient2 {
        left: 10px;
        top: -16px;
    }
}

@media (min-width: 680px) {
    main > .accueil {
        place-items: center;
    }
    
}

@media (min-width: 680px) {
    main > .accueil > .gradient1, main > .accueil > .gradient2 {
        left: 0;
        animation: gradienYellowRed 1s linear infinite alternate;
    }
}

.container{                      /*DEBUT JASON*/
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.fondateur{
    padding-left: 10px;
}

.container_people{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.people{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

ul{
    display: block;
    margin-block-end: 10px;
    margin-block-start: 10px;
}

.people > li{
    text-align: center;
    flex: 1 0 320px;
    margin: 8px;
}

.img_container{
    width: 100%;
    place-items: center;
    align-items: center;
    background-image: url(../assets/chaton.jpg);
    background-size: cover;
    display: grid;
    height: calc(100vh - 50px);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

}

.foot{
    padding-left: 10px;
}                                  /*FIN JASON*/